.loadingOne {
    width: 100px;
    height: 100px;
    background-color: greenyellow;
    border-radius: 12px;
    animation: loading 2s linear infinite;
}

@keyframes loading {
    0% {
        transform: rotateX(0deg) rotateY(0deg);
    }

    50% {
        transform: rotateX(0deg) rotateY(180deg);
    }

    100% {
        transform: rotateX(180deg) rotateY(180deg);
    }
}

.h1Two {
    color: white;
    font-size: 50px;
}

.h5Two:before {
    content: 'TRANSITIONS';
    text-transform: uppercase;
    font-family: arial;
    color: #1b1464;
    animation: word-switch 5s infinite;
}

@keyframes word-switch {
    0% {
        content: 'transitions';
    }

    50% {
        content: 'animations';
    }

    100% {
        content: 'transforms';
    }
}

.bannerThree {
    height: 500px;
    width: 500px;
    background: url(bg.png);
    background-position: 0 0;
    animation: animated-pattern 15s linear infinite;
}

@keyframes animated-pattern {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 800px 600px;
    }
}

.animaFour {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-size: 80px;
    border: 3px solid white;
    background-color: grey;
    padding: 40px 80px;
    transition: all 0.3s;
}

.animaFour:hover {
    border: 3px solid #f44336;
    color: #f44336;
    animation: shake 0.3s linear 5;
}

@keyframes shake {
    33% {
        transform: rotate(10deg);
    }

    66% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(20deg);
    }
}

.lightingFive {
    margin: 0;
    padding: 0;
    display: flex;
    font-family: 'Lato', sans-serif;
}

.lightingFive .liFive {
    list-style: none;
    color: #484848;
    font-size: 80px;
    letter-spacing: 15px;
    animation: lighting 1.4s linear infinite;
}

@keyframes lighting {
    0% {
        color: #484848;
        text-shadow: none;
    }

    90% {
        color: #484848;
        text-shadow: none;
    }

    100% {
        color: #fff900;
        text-shadow: 0 0 7px #fff900, 0 0 50px #ff6c00;
    }
}

.lightingFive .liFive:nth-child(2) {
    animation-delay: 0;
}

.lightingFive .liFive:nth-child(3) {
    animation-delay: 0.1s;
}

.lightingFive .liFive:nth-child(4) {
    animation-delay: 0.2s;
}

.lightingFive .liFive:nth-child(5) {
    animation-delay: 0.3s;
}

.lightingFive .liFivei:nth-child(1) {
    animation-delay: 0.4s;
}

.lightingFive .liFive:nth-child(6) {
    animation-delay: 0.5s;
}

.lightingFive .liFive:nth-child(7) {
    animation-delay: 0.6s;
}

.lightingFive .liFive:nth-child(8) {
    animation-delay: 0.7s;
}
