.loadingOne {
    width: 100px;
    height: 100px;
    background-color: greenyellow;
    border-radius: 12px;
    animation: loading 2s linear infinite;
}

@keyframes loading {
    0% {
        transform: rotateX(0deg) rotateY(0deg);
    }

    50% {
        transform: rotateX(0deg) rotateY(180deg);
    }

    100% {
        transform: rotateX(180deg) rotateY(180deg);
    }
}

.h1Two {
    color: white;
    font-size: 50px;
}

.h5Two:before {
    content: 'TRANSITIONS';
    text-transform: uppercase;
    font-family: arial;
    color: #1b1464;
    animation: word-switch 5s infinite;
}

@keyframes word-switch {
    0% {
        content: 'transitions';
    }

    50% {
        content: 'animations';
    }

    100% {
        content: 'transforms';
    }
}

.bannerThree {
    height: 500px;
    width: 500px;
    background: url(bg.png);
    background-position: 0 0;
    animation: animated-pattern 15s linear infinite;
}

@keyframes animated-pattern {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 800px 600px;
    }
}

.animaFour {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-size: 80px;
    border: 3px solid white;
    background-color: grey;
    padding: 40px 80px;
    transition: all 0.3s;
}

.animaFour:hover {
    border: 3px solid #f44336;
    color: #f44336;
    animation: shake 0.3s linear 5;
}

@keyframes shake {
    33% {
        transform: rotate(10deg);
    }

    66% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(20deg);
    }
}

.lightingFive {
    margin: 0;
    padding: 0;
    display: flex;
    font-family: 'Lato', sans-serif;
}

.lightingFive .liFive {
    list-style: none;
    color: #484848;
    font-size: 80px;
    letter-spacing: 15px;
    animation: lighting 1.4s linear infinite;
}

@keyframes lighting {
    0% {
        color: #484848;
        text-shadow: none;
    }

    90% {
        color: #484848;
        text-shadow: none;
    }

    100% {
        color: #fff900;
        text-shadow: 0 0 7px #fff900, 0 0 50px #ff6c00;
    }
}

.lightingFive .liFive:nth-child(2) {
    animation-delay: 0;
}

.lightingFive .liFive:nth-child(3) {
    animation-delay: 0.1s;
}

.lightingFive .liFive:nth-child(4) {
    animation-delay: 0.2s;
}

.lightingFive .liFive:nth-child(5) {
    animation-delay: 0.3s;
}

.lightingFive .liFivei:nth-child(1) {
    animation-delay: 0.4s;
}

.lightingFive .liFive:nth-child(6) {
    animation-delay: 0.5s;
}

.lightingFive .liFive:nth-child(7) {
    animation-delay: 0.6s;
}

.lightingFive .liFive:nth-child(8) {
    animation-delay: 0.7s;
}

.h1animSix {
    font-size: 200px;
    text-align: center;
    text-transform: uppercase;
    background: url(image.jpg);
    -webkit-background-clip: text;
    color: transparent;
    animation: text-background 20s linear infinite;
}

@keyframes text-background {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 100% 100%;
    }
}

.pulseSeven {
    width: 100px;
    height: 100px;
    background-color: #58ea00;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    font-size: 48px;
    position: relative;
}

.pulseSeven:before,
.pulseSeven:after {
    content: '';
    position: absolute;
    left: -20px;
    right: -20px;
    top: -20px;
    bottom: -20px;
    border: 1px solid #58ea00;
    border-radius: 50%;
    animation: pulse 1.5s linear infinite;
}

.pulseSeven:after {
    animation-delay: 0.5s;
}

@keyframes pulse {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    50% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

.sliderEight {
    width: 800px;
    height: 400px;
    background: url(img-1.jpg);
    animation: change-bg 10s linear infinite;
}

@keyframes change-bg {
    0% {
        background: url(sliderimg/img-1.jpg);
    }
    20% {
        background: url(sliderimg/img-1.jpg);
    }
    25% {
        background: url(sliderimg/img-2.jpg);
    }
    45% {
        background: url(sliderimg/img-2.jpg);
    }
    50% {
        background: url(sliderimg/img-3.jpg);
    }
    70% {
        background: url(sliderimg/img-3.jpg);
    }
    75% {
        background: url(sliderimg/img-4.jpg);
    }
    100% {
        background: url(sliderimg/img-4.jpg);
    }
}

.containerNine {
    width: 100px;
    height: 100px;
    position: relative;
    animation: animate 1s linear infinite;
    transform: rotate(45deg);
}

.spanNinee {
    position: absolute;
    width: 50px;
    height: 50px;
    animation: rotate 1s linear infinite;
}

.spanNinee:nth-child(1) {
    top: 0;
    left: 0;
    background-color: #fceba7;
}

.spanNinee:nth-child(2) {
    top: 0;
    right: 0;
    background-color: #55ddb9;
}

.spanNinee:nth-child(3) {
    bottom: -22px;
    left: 00px;
    background-color: #fd6c64;
}

.spanNinee:nth-child(4) {
    bottom: -22px;
    right: 5px;
    background-color: #1f78b0;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(90deg);
    }

    90% {
        transform: rotate(90deg);
    }

    100% {
        transform: rotate(90deg);
    }
}

@keyframes animate {
    0% {
        width: 100px;
        height: 100px;
    }

    10% {
        width: 100px;
        height: 100px;
    }

    50% {
        width: 150px;
        height: 150px;
    }

    90% {
        width: 100px;
        height: 100px;
    }

    100% {
        width: 100px;
        height: 100px;
    }
}

.loaderTen {
    width: 150px;
    height: 150px;
    position: relative;
    background-color: #ee5253;
}

.spanTen {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 4px;
    animation: chase 2s linear infinite;
}

.spanTen:nth-child(2) {
    animation-delay: 0.7s;
}

.spanTen:nth-child(3) {
    animation-delay: 01.4s;
}

@keyframes chase {
    0% {
        top: 0;
        left: 0;
    }

    12.5% {
        top: 0;
        left: 50%;
    }

    25% {
        top: 0;
        left: 50%;
    }

    37.5% {
        top: 50%;
        left: 50%;
    }

    50% {
        top: 50%;
        left: 50%;
    }

    62.5% {
        top: 50%;
        left: 0;
    }

    75% {
        top: 50%;
        left: 0;
    }

    87.5% {
        top: 0;
        left: 0;
    }

    100% {
        top: 0;
        left: 0;
    }
}

.loadingEleven {
    width: 300px;
    height: 3px;
    background-color: black;
    animation: line 2s infinite alternate;
}

@keyframes line {
    0% {
        transform: scaleX(0);
        transform-origin: left;
    }

    45% {
        transform: scaleX(1);
        transform-origin: left;
    }

    50% {
        transform: scaleX(1);
        transform-origin: right;
    }

    100% {
        transform: scaleX(0);
        transform-origin: right;
    }
}

.loadingTwelve {
    display: flex;
}

.objTwelve {
    width: 6px;
    height: 40px;
    background-color: black;
    margin: 0 3px;
    border-radius: 10px;
    animation: loadingTwelve 0.8s linear infinite;
    /*transform-origin: bottom;*/
}

@keyframes loadingTwelve {
    0% {
        transform: scaleY(0);
    }
    50% {
        transform: scaleY(1);
    }
    100% {
        transform: scaleY(0);
    }
}

.objTwelve:nth-child(2) {
    animation-delay: 0.1s;
}

.objTwelve:nth-child(3) {
    animation-delay: 0.2s;
}

.objTwelve:nth-child(4) {
    animation-delay: 0.3s;
}

.objTwelve:nth-child(5) {
    animation-delay: 0.4s;
}

.objTwelve:nth-child(6) {
    animation-delay: 0.5s;
}

.objTwelve:nth-child(7) {
    animation-delay: 0.6s;
}

.objTwelve:nth-child(8) {
    animation-delay: 0.7s;
}

.containerThirt {
    position: relative;
    width: 1000px;
    height: 500px;
    overflow: hidden;
    background-color: #333;
}

.textThirt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-transform: uppercase;
    font-size: 45px;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
}

.squareThirt {
    position: absolute;
    bottom: -150px;
    background-color: #f2f2f2;
    animation: boxes 10s infinite ease-in-out;
}

.squareThirt:nth-child(1) {
    width: 75px;
    height: 75px;
    left: 7%;
}

.squareThirt:nth-child(2) {
    width: 65px;
    height: 65px;
    left: 15%;
    animation-delay: 4s;
}

.squareThirt:nth-child(3) {
    width: 82px;
    height: 82px;
    left: 45%;
    animation-delay: 8s;
}

.squareThirt:nth-child(4) {
    width: 70px;
    height: 70px;
    left: 55%;
    animation-delay: 2s;
}

.squareThirt:nth-child(5) {
    width: 60px;
    height: 60px;
    left: 27%;
    animation-delay: 6s;
}

.squareThirt:nth-child(6) {
    width: 55px;
    height: 55px;
    left: 60%;
    animation-delay: 4s;
}

.squareThirt:nth-child(7) {
    width: 90px;
    height: 90px;
    left: 85%;
    animation-delay: 9s;
}

.squareThirt:nth-child(8) {
    width: 70px;
    height: 70px;
    left: 75%;
    animation-delay: 4s;
}

.squareThirt:nth-child(9) {
    width: 45px;
    height: 45px;
    left: 10%;
    animation-delay: 7s;
}

.squareThirt:nth-child(10) {
    width: 55px;
    height: 55px;
    left: 60%;
    animation-delay: 7s;
}

@keyframes boxes {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 100%;
        transform: rotate(180deg);
        opacity: 0;
    }
}
