* {
    margin: 0 auto;
    margin-bottom: 2rem;
    align-items: center;
}
body {
    display: flex;
    flex-direction: row;

    align-items: top;
}

/* BUTTONS ANIMATIONS */

.buttonnnnn {
    display: flex;
    flex-direction: column;
}
.hover {
    text-decoration: none;
    color: #262626;
    font-family: sans-serif;
    font-size: 45px;
    border: 5px solid #262626;
    padding: 40px 80px;
    position: relative;
    overflow: hidden;
}

.hover:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff200;
    height: 100%;
    width: 100%;
    z-index: -1;
    transform-origin: bottom left;
    transform: rotate(-90deg);
    transition: transform 1s;
}

.hover:hover:before {
    transform: rotate(0deg);
}

/*----*/

.swipe {
    text-decoration: none;
    color: #351435;
    font-family: sans-serif;
    font-size: 40px;
    border: 3px solid #351435;
    padding: 40px 80px;
    position: relative;
    transition: all 1s;
    overflow: hidden;
}

.swipe:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #351435;
    z-index: -1;
    transform: translateX(-100%);
    transition: all 1s;
}

.swipe:hover:before {
    transform: translateX(0);
}

.swipe:hover {
    color: white;
}

.hovertwo {
    padding: 40px 80px;
    font-family: sans-serif;
    text-decoration: none;
    color: #262626;
    font-size: 45px;
    letter-spacing: 2px;
    border: 5px solid #262626;
    position: relative;
    transition: 1s;
}

.hovertwo:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #262626;
    transition: 1s;
    transform: rotateX(90deg);
    z-index: -1;
}

.hovertwo:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #262626;
    transition: 1s;
    transform: rotateY(90deg);
    z-index: -1;
}

.hovertwo:hover:before {
    transform: rotateX(0);
}

.hovertwo:hover:after {
    transform: rotateY(0);
}

.hovertwo:hover {
    color: white;
}

.hoverstretch {
    text-decoration: none;
    padding: 40px 80px;
    color: #e1332d;
    border: 3px solid #e1332d;
    text-transform: uppercase;
    font-size: 40px;
    font-family: 'roboto';
    font-weight: 300;
    letter-spacing: -2px;
    transition: all 0.5s;
}

.hoverstretch:hover {
    font-weight: 900;
    letter-spacing: 10px;
    border: 7px solid #e1332d;
}

.hoverthree {
    text-decoration: none;
    color: #262626;
    font-family: sans-serif;
    font-size: 45px;
    border: 5px solid #262626;
    padding: 40px 80px;
    position: relative;
    overflow: hidden;
}

.hoverthree:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff200;
    height: 100%;
    width: 100%;
    z-index: -1;
    transform-origin: bottom left;
    transform: rotate(-90deg);
    transition: transform 1s;
}

.hoverthree:before {
    content: 'YEAH!';
    color: white;
    background-color: #f44336;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transform: translateY(-100%);
    transition: all 0.5s;
}

.hoverthree:hover:before {
    transform: translateY(0);
}

.hoverGlow {
    text-decoration: none;
    color: Black;
    font-family: sans-serif;
    font-size: 40px;
    border: 3px solid black;
    padding: 40px 80px;
    transition: all 0.2s;
    position: relative;
    overflow: hidden;
}

.hoverGlow:hover {
    background-color: #f44336;
}

.hoverGlow:before {
    content: '';
    background-color: white;
    top: 30%;
    left: 0;
    width: 100%;
    height: 50px;
    position: absolute;
    transform: translateX(-100%) rotate(45deg);
    transition: all 0.3s;
}

.hoverGlow:hover:before {
    transform: translateX(100%) rotate(45deg);
}

.hovertranslate {
    text-decoration: none;
    background-color: #262626;
    font-family: sans-serif;
    font-size: 40px;
    border: 4px solid #262626;
    padding: 40px 80px;
    position: relative;
    color: transparent;
    overflow: hidden;
}

.hovertranslate:before {
    content: 'Hover Me';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fffa65;
    color: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.hovertranslate:after {
    content: 'Hover Me';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fffa65;
    color: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    transform: translate(-100%, 100%);
}

.hovertranslate:hover:before {
    transform: translate(100%, -100%);
}

.hovertranslate:hover:after {
    transform: translate(0, 0);
}

.hoverOverlay {
    text-decoration: none;
    color: #262626;
    font-family: sans-serif;
    font-size: 40px;
    border: 3px solid #262626;
    padding: 40px 80px;
    transition: all 0.5s;
    position: relative;
    overflow: hidden;
}

.hoverOverlay:before {
    content: 'Hover me';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #262626;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(5);
    opacity: 0;
    transition: all 0.5s;
}

.hoverOverlay:hover:before {
    transform: scale(1);
    opacity: 1;
}

.circBtn {
    border: 2px solid tomato;
    background: none;
    color: tomato;
    padding: 20px 40px;
    font-size: 25px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.5s;
    position: relative;
    color: tomato;
    overflow: hidden;
}

.circBtn:hover {
    color: white;
}

.circBtn:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: tomato;
    z-index: -1;
    border-radius: 0% 0% 50% 50%;
    height: 0%;
    transition: all 0.5s;
}

.circBtn:hover:before {
    height: 190%;
}

.flipper {
    padding: 20px 40px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #f1c40f;
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
    position: relative;
}

.flipper:before {
    content: 'BUTTON';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2ecc71;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateX(270deg);
    transform-origin: top;
    transition: all 0.5s;
}

.flipper:after {
    content: 'BUTTON';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: top;
    transform: rotateX(270deg);
    transition: all 0.5s;
    transition-delay: 0.25s;
}

.flipper:hover:before,
.flipper:hover:after {
    transform: rotateX(0deg);
}

.transBtn {
    padding: 20px 40px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 4px;
    color: black;
    border: 3px solid #ff0;
    font-size: 30px;
    position: relative;
}

.transBtn:before {
    content: 'button';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #363636;
    color: #ff0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.transBtn:hover:before {
    left: 100%;
    transform: scale(0) rotateY(360deg);
    opacity: 0;
}

.transBtn:after {
    content: 'button';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #363636;
    color: #ff0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    transform: scale(0) rotateY(0deg);
    opacity: 0;
}

.transBtn:hover:after {
    left: 0;
    transform: scale(1) rotateY(360deg);
    opacity: 1;
}

.threeCircle {
    width: 220px;
    height: 80px;
    color: orange;
    background-color: transparent;
    font-size: 26px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    line-height: 80px;
    transition: all 0.5s;
    position: relative;
}

.threeCircle:before,
.threeCircle:after {
    content: '';
    position: absolute;
    top: 50%;
    width: 20px;
    height: 20px;
    background-color: #ff0;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: all 0.3s;
    z-index: -1;
    opacity: 0;
}

.threeCircle:before {
    left: 0;
    box-shadow: -100px 0 0 #ff0;
}

.threeCircle:after {
    right: 0;
    box-shadow: 100px 0 0 #ff0;
}

.threeCircle:hover:before {
    left: 50%;
    box-shadow: 30px 0 0 #ff0;
    transform: translateX(-50%) translateY(-50%);
    opacity: 1;
}

.threeCircle:hover:after {
    right: 50%;
    box-shadow: -30px 0 0 #ff0;
    transform: translateX(50%) translateY(-50%);
    opacity: 1;
}

.firstspan {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ff0;
    color: red;
    border-radius: 8px;
    transform: scale(0);
    transition: all 0.3s;
    z-index: 1;
}

.threeCircle:hover span {
    transform: scale(1);
    transition-delay: 0.4s;
}

.threeCircle:hover {
    color: #262626;
    transition-delay: 0.4s;
}

.hoverfour {
    width: 300px;
    height: 60px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: transparent;
    text-align: center;
    line-height: 60px;
    font-weight: bold;
    letter-spacing: 2px;
    position: relative;
    transition: all 0.2s;
    color: white;
}
.hoverfour:before {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    background-color: #20caff;
    z-index: -1;
    mix-blend-mode: multiply;
    transition: all 0.2s;
    transform-origin: top;
}

.hoverfour:hover:before {
    top: -6px;
    left: 0;
    transform: perspective(1000px) rotateX(75deg);
}

.hoverfour:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 100%;
    height: 100%;
    background-color: #ff7675;
    z-index: -1;
    mix-blend-mode: multiply;
    transition: all 0.2s;
    transform-origin: bottom;
}

.hoverfour:hover:after {
    top: 6px;
    left: 0;
    transform: perspective(1000px) rotateX(-75deg);
}

.hoverfour:hover {
    color: #272727;
}

.slideBtn {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
    font-family: verdana;
    color: #f6b93b;
    letter-spacing: 3px;
    padding: 25px 50px;
    position: relative;
    border: 3px solid #f6b93b;
    transition: all 0.2s;
    overflow: hidden;
}

.slideBtn:before,
.slideBtn:after,
.spann:before,
.spann:after {
    content: '';
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: #f6b93b;
    z-index: -1;
    transition: all 0.1s;
}

.slideBtn:before {
    top: 100%;
    left: 0%;
}

.slideBtn:hover:before {
    top: 0;
    left: 0;
}

.slideBtn:after {
    top: -100%;
    right: 0;
    transition-delay: 0.3s;
}

.slideBtn:hover:after {
    top: 0;
    right: 0;
}

.slideBtn .spann:before {
    top: -100%;
    left: 25%;
    transition-delay: 0.1s;
}

.slideBtn:hover .spann:before {
    top: 0;
    left: 25%;
}

.slideBtn .spann:after {
    bottom: -100%;
    right: 25%;
    transition-delay: 0.2s;
}

.slideBtn:hover .spann:after {
    bottom: 0;
    right: 25%;
}

.slideBtn:hover {
    color: #222;
}

.borderSwap {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 22px;
    font-family: verdana;
    letter-spacing: 3px;
    height: 60px;
    width: 200px;
    line-height: 60px;
    text-align: center;
    color: #fdc518;
    position: relative;
}

.borderSwap:before {
    content: '';
    position: absolute;
    height: 90px;
    width: 200px;
    top: -15px;
    left: 0;
    border-left: 2px solid red;
    border-right: 2px solid #fdc518;
    transition: all 01s;
}

.borderSwap:after {
    content: '';
    position: absolute;
    height: 60px;
    width: 230px;
    top: 0;
    left: -15px;
    border-top: 2px solid red;
    border-bottom: 2px solid #fdc518;
    transition: all 1s;
}

.borderSwap:hover:before {
    transform: rotateY(180deg);
}

.borderSwap:hover:after {
    transform: rotateX(180deg);
}

.cornerWap {
    border: none;
    padding: 12px 40px;
    background-color: #c47135;
    color: white;
    font-family: 'BenchNine';
    font-size: 22px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
}

.cornerWap:before {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    top: -5px;
    left: -5px;
    border-top: 2px solid #c47135;
    border-left: 2px solid #c47135;
    transition: all 0.25s;
}

.cornerWap:hover:before,
.cornerWap:hover:after {
    height: 100%;
    width: 100%;
}

.cornerWap:after {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    bottom: -5px;
    right: -5px;
    border-bottom: 2px solid #c47135;
    border-right: 2px solid #c47135;
    transition: all 0.25s;
}

.firstLetter {
    text-decoration: none;
    width: 160px;
    height: 60px;
    color: black;
    border: 2px solid black;
    text-align: center;
    line-height: 60px;
    font-size: 25px;
    position: relative;
    transition: all 0.2s;
}

.firstLetter:hover {
    color: white;
}

.firstLetter:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: -1;
    opacity: 0;
    transition: all 0.8s;
}

.firstLetter:hover:before {
    opacity: 1;
    transform: rotate(15deg);
}

.firstLetter .bigR {
    color: transparent;
    position: relative;
}

.firstLetter .bigR:before {
    content: 'R';
    position: absolute;
    color: black;
    transition: all 0.2s;
}

.firstLetter:hover .bigR:before {
    color: black;
    font-size: 80px;
    transform: translate(-65%, -10%) rotate(360deg);
}

.cornerWap2 {
    background-color: transparent;
    border: none;
    position: relative;
    width: 400px;
    height: 120px;
    text-transform: uppercase;
    line-height: 120px;
    text-align: center;
    color: black;
    font-size: 45px;
    letter-spacing: 15px;
    overflow: hidden;
}

.cornerWap2:before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 4px;
    background-color: black;
    transition: all 0.5s;
}

.cornerWap2:hover:before {
    left: 0;
}

.cornerWap2:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 4px;
    background-color: black;
    transition: all 0.5s;
}

.cornerWap2:hover:after {
    right: 0;
}

.gap:before {
    content: '';
    position: absolute;
    top: -100%;
    right: 0;
    width: 4px;
    height: 100%;
    background-color: black;
    transition: all 0.5s;
}

.cornerWap2:hover .gap:before {
    top: 0;
}

.gap:after {
    content: '';
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 4px;
    height: 100%;
    background-color: black;
    transition: all 0.5s;
}

.cornerWap2:hover .gap:after {
    bottom: 0;
}

.wavy {
    text-decoration: none;
    padding: 15px 30px;
    color: #00aeff;
    font-size: 18px;
    letter-spacing: 3px;
    border: 2px solid #00aeff;
    border-radius: 25px;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    transition: all 0.5s;
}

.wavy:hover {
    color: white;
}

.wave {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: calc(100% + 22px);
    background-color: #00aeff;
    transition: all 1s;
    z-index: -1;
}

.wavy:hover .wave {
    top: 0;
}

.wave:before {
    content: '';
    position: absolute;
    top: -22px;
    left: 0;
    width: 100%;
    height: 22px;
    background: url(wave.png);
    animation: wavyy 0.5s linear infinite;
}

@keyframes wavyy {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 118px;
    }
}

.splitsplit {
    text-decoration: none;
    width: 160px;
    height: 60px;
    color: black;
    line-height: 60px;
    text-align: center;
    text-transform: capitalize;
    font-size: 25px;
    position: relative;
    transition: all 0.2s;
    overflow: hidden;
}

.splitsplit .splitspan {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 1px solid black;
    z-index: -1;
}

.splitspan:before {
    content: '';
    position: absolute;
    width: 8%;
    height: 500%;
    background-color: white;
    top: 50%;
    left: 50%;
    transition: all 0.2s;
    transform: translate(-50%, -50%) rotate(-60deg);
}

.splitsplit:hover .splitspan:before {
    width: 100%;
    background-color: black;
    transform: translate(-50%, -50%) rotate(60deg);
}

.splitsplit:hover {
    color: white;
}

.splitSkew {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    position: relative;
    letter-spacing: 7px;
    padding: 18px 30px;
    background: transparent;
    font-size: 28px;
    color: white;
}

.splitSkew:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 50%;
    left: -1%;
    top: -5px;
    background-color: #ee5253;
    transform: skewX(30deg);
    z-index: -1;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.splitSkew:hover:before {
    transform: skewX(0deg);
    left: 50%;
    top: 0;
}

.splitSkew:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 50%;
    left: 51%;
    top: 5px;
    background-color: #0a3d62;
    transform: skewX(30deg);
    z-index: -1;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.splitSkew:hover:after {
    transform: skewX(0deg);
    left: 0%;
    top: 0;
}

.diagonal {
    text-decoration: none;
    position: relative;
    width: 250px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    color: #250e74;
    border: 4px solid #250e74;
    font-size: 24px;
    letter-spacing: 3px;
    text-transform: uppercase;
    transition: all 0.5s;
    overflow: hidden;
}

.diagonal:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-top: 40px solid #250e74;
    border-bottom: 40px solid #250e74;
    border-right: 40px solid transparent;
    transition: all 0.5s;
    z-index: -1;
    transform: translateX(-100%);
}

.diagonal:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-top: 40px solid #250e74;
    border-bottom: 40px solid #250e74;
    border-left: 40px solid transparent;
    transition: all 0.5s;
    z-index: -1;
    transform: translateX(100%);
}

.diagonal:hover:before {
    transform: translateX(0%);
}

.diagonal:hover:after {
    transform: translateX(0%);
}

.diagonal:hover {
    color: white;
}
