@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);

/* .cards {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', Arial, sans-serif;
} */

.cardFirst {
    position: relative;
    width: 320px;
    padding: 40px;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    font-family: consolas;
}

.cardFirst:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: calc(-100% + 5px);
    width: 100%;
    height: 100%;
    background-color: #ff56ac;
    z-index: 1;
    transition: 0.5s;
}

.cardFirst:hover:before {
    bottom: 0;
}

.contentFirst {
    position: relative;
    text-transform: capitalize;
    color: #777;
    z-index: 2;
    transition: 0.5s;
}

.h2First {
    margin-bottom: 10px;
    margin-top: 0;
    font-size: 30px;
}

.pFirst {
    font-size: 18px;
}

.linFirst {
    margin-top: 10px;
    font-size: 14px;
    display: inline-block;
    text-decoration: none;
    color: #777;
    padding: 6px 10px;
    font-weight: 600;
    background-color: white;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.05);
}

.cardFirst:hover .contentFirst {
    color: white;
}

.cardSecond {
    position: relative;
    width: 300px;
    height: 260px;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    padding: 20px 40px;
    font-family: 'Raleway', Arial, sans-serif;
}

.imgBoxSecond {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-60px);
    z-index: 1;
}

.imageSecond {
    width: 100%;
    border-radius: 10px;
}

.cardSecond:hover {
    height: 320px;
}

.contentSecond {
    padding: 10px 20px;
    text-align: center;
    color: #111;
    transition: 0.3s;
    transform: translateY(-400px);
    opacity: 0;
}

.cardSecond:hover .contentSecond {
    opacity: 1;
    transform: translateY(-180px);
}

.h2Second {
    font-size: 32px;
}
.pSecond {
    font-size: 10px;
    margin-top: 20px;
}

.cardThird {
    position: relative;
    width: 500px;
    height: 300px;
    display: flex;
    align-items: center;
    background: linear-gradient(45deg, #d41e31, #491f8f);
    border-radius: 20px;
    font-family: 'Raleway', Arial, sans-serif;
}

.imgThirdd {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(8%);
    height: 400px;
    transition: 0.5s;
}

.cardThird:hover .imgThirdd {
    height: 450px;
    transform: translateX(-20%) translateY(7.2%);
}

.contentThird {
    position: relative;
    width: 40%;
    left: 20%;
    top: 9%;
    color: white;
    text-transform: capitalize;
    transition: 0.5s;
    opacity: 0;
}

.cardThird:hover .contentThird {
    left: -25%;
    opacity: 1;
}

.h2Third {
    margin: 0;
    padding: 0;
}

.pThird {
    margin-bottom: 20px;
}

.linThird {
    position: relative;
    display: inline-block;
    color: #111;
    padding: 5px 10px;
    background: white;
    text-decoration: none;
    border-radius: 10px;
}

* {
    box-sizing: border-box;
}

.cardFourth {
    position: relative;
    width: 300px;
    height: 500px;
    background: white;
    transition: 0.5s;
    font-family: 'Raleway', Arial, sans-serif;
}

.cardFourth:hover {
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.2);
}

.face {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.face1 {
    padding: 20px;
    text-align: center;
    background-color: white;
    color: #013d4a;
}

.face1 .h2Fourth {
    margin-top: 80px;
}

.face1 .linFourth {
    display: inline-block;
    margin-top: 20px;
    padding: 5px 10px;
    text-decoration: none;
    color: #013d4a;
    border: 2px solid #013d4a;
    text-transform: capitalize;
    font-weight: bold;
    transition: 0.3s;
}

.face2 {
    background-color: #013d4a;
    transition: 0.5s;
}

.face2 .h2Fourth {
    font-size: 120px;
    color: white;
    transition: 0.5s;
}

.cardFourth:hover .face2 {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    border: 2px solid #013d4a;
}

.cardFourth:hover .face2 .h2Fourth {
    position: absolute;
    color: #013d4a;
    font-size: 32px;
    top: 18px !important;
}

.linFourth:hover {
    background-color: #013d4a;
    color: white;
}

.cardFifth {
    position: relative;
    cursor: pointer;
    width: 300px;
}

.face1Fifth {
    position: relative;
    width: 300px;
    height: 250px;
    background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    transform: translateY(133px);
    z-index: 1;
}

.cardFifth:hover .face1Fifth {
    background-color: #ff0057;
    transform: translateY(0);
}

.face2Fifth {
    position: relative;
    width: 300px;
    height: 200px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    transition: 0.5s;
    transform: translateY(-100px);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
}

.cardFifth:hover .face2Fifth {
    transform: translateY(-30px);
}

.imgboxFifth {
    opacity: 0.2;
    transition: 0.5s;
}

.cardFifth:hover .imgboxFifth {
    opacity: 1;
}

.face1Fifth .imgFifth {
    width: 100px;
}

.h3Fifth {
    margin: 10px 0 0;
    padding: 0;
    color: white;
    text-align: center;
    font-size: 25px;
}

.pFifth {
    margin: 0;
    padding: 0;
}

.linFifth {
    margin: 15px 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #777;
    padding: 5px;
    border: 1px solid #777;
}

.linFifth:hover {
    background-color: #777;
    color: white;
}

.cardSix {
    position: relative;
    width: 320px;
    height: 350px;
    background: white;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.cardSix:before,
.cardSix:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: white;
    transition: 0.5s;
    z-index: -1;
}

.cardSix:hover:before {
    transform: rotate(20deg);
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

.cardSix:hover:after {
    transform: rotate(10deg);
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

.imgboxSix {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 0px;
    right: 10px;
    background-color: #222;
    transition: 0.5s;
    z-index: 2;
}

.cardSix:hover .imgboxSix {
    bottom: 80px;
}

.detailsSix {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 60px;
    text-align: center;
}

.h2Six {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 20px;
    color: #777;
    text-transform: uppercase;
}

.h2Six .h5Six {
    font-weight: 500;
    font-size: 16px;
    color: #f38695;
}

.imgSix {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardSeven {
    position: relative;
    width: 300px;
    height: 400px;
    background-color: black;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.5);
}

.contentSeven {
    position: absolute;
    bottom: -32px;
    width: 80%;
    height: 80px;
    background-color: white;
    left: 10%;
    text-align: center;
    transition: 0.5s;
    overflow: hidden;
}

.h3Seven {
    font-size: 30px;
    text-transform: uppercase;
    margin: 25px;
}

.pSeven {
    width: 80%;
    margin: 10px auto;
    font-size: 18px;
    transition: 0.5s;
    opacity: 0;
}

.aSeven {
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px 15px;
    display: inline-block;
    margin-top: 10px;
    transition: 0.5s;
    opacity: 0;
}

.cardSeven:hover .contentSeven {
    height: 100%;
    width: 100%;
    left: 0%;
}

.cardSeven:hover p,
.cardSeven:hover a {
    opacity: 1;
    transition-delay: 0.5s;
}

.imgboxSeven {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.imgSeven {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}

.cardSeven:hover .imgSeven {
    opacity: 0;
}
