.images {
    display: flex;
    flex-direction: column;

    font-family: 'Lato', sans-serif;
}

.first {
    width: 500px;
    height: 500px;
    position: relative;
    overflow: hidden;
}

.first .manImg {
    width: 100%;
    transition: all 0.5s;
}

.captionOne {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    transition: 0.5s;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0);
}

.captionOne h1 {
    text-transform: uppercase;
    margin: 0;
}

.captionOne p {
    font-size: 18px;
    text-transform: capitalize;
}

.first:hover .captionOne {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

.first:hover .manImg {
    transform: scale(1.3) rotate(15deg);
}

.second {
    width: 500px;
    height: 500px;
    position: relative;
    overflow: hidden;
}

.second .manImg {
    width: 100%;
    transition: all 0.5s;
}

.captionTwo {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    transition: all 0.5s;
    transform: translateY(-100%);
}

.captionTwo h1 {
    text-transform: uppercase;
    margin: 0;
}

.captionTwo p {
    font-size: 18px;
    text-transform: capitalize;
}

.second:hover .captionTwo {
    background-color: rgba(0, 0, 0, 0.5);
    transform: translateY(0);
}

.second:hover .manImg {
    transform: scale(1.3) rotate(-15deg);
}

.third {
    width: 500px;
    height: 500px;
    position: relative;
    overflow: hidden;
}

.third .manImg {
    width: 100%;
    transition: all 0.5s;
}

.captionThree {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    transition: all 0.5s;
    background-color: black;
    transform: translateY(-100%);
}

.captionThree h1 {
    text-transform: uppercase;
    margin: 0;
}

.captionThree p {
    font-size: 18px;
    text-transform: capitalize;
}

.third:hover .captionThree {
    transform: translateY(0);
}

.third:hover .manImg {
    transform: translateY(100%);
}

.fourth {
    width: 500px;
    height: 500px;
    position: relative;
    overflow: hidden;
}

.fourth .manImg {
    width: 100%;
    transition: all 0.5s;
}

.captionFour {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    transition: all 0.5s;
    background-color: black;
    transform: translateY(125%);
}

.captionFour h1 {
    text-transform: uppercase;
    margin: 0;
}

.captionFour p {
    font-size: 18px;
    text-transform: capitalize;
}

.fourth:hover .captionFour {
    transform: translateY(0);
}

.fourth:hover .manImg {
    transform: translateY(-30%);
}

.fifth {
    width: 500px;
    color: white;
    font-family: 'Raleway', sans-serif;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.fifth .oceanImg {
    width: 120%;
    height: 120%;
}

.fifth:before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: '';
    background-color: #006266;
    opacity: 0.5;
    transform: translateY(100%);
    transition: all 0.25s;
    transition-delay: 0.25s;
}

.fifth:hover:before {
    transform: translateY(0);
    transition-delay: 0s;
}

.fifth .captionFive {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-20px);
    opacity: 1;
    transition: all 0.25s ease;
}

.fifth h3,
.fifth h5 {
    margin: 0;
    letter-spacing: 1px;
}
.fifth h3 {
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 5px;
}
.fifth h5 {
    background-color: #ae895d;
    padding: 3px 10px;
}

.fifth:hover .captionFive {
    transform: translateY(0);
    opacity: 1;
    transition-delay: 0.3s;
}

.six {
    width: 450px;
    height: 300px;
    position: relative;
    overflow: hidden;
}

.six .tapeImg {
    width: 100%;
}

.six:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 120%;
    height: 205%;
    background-color: #2d3436;
    opacity: 0.8;
    transition: all 0.25s;
    overflow: hidden;
    transform: translate(550px, 300px) rotate(45deg);
}

.six:hover:before {
    transform: translate(-50px, -150px) rotate(45deg);
}

.captionSix {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    text-transform: uppercase;
}

h2 {
    text-align: center;
    font-size: 17px;
    padding: 20px;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    transform: translate(200px, -200px);
    transition: all 0.25s;
}

.six:hover h2 {
    transform: translate(0, 0);
    transition-delay: 0.3s;
}

p {
    font-size: 16px;
    width: 80%;
    align-self: center;
    text-align: center;
    transition: all 0.25s;
    transform: translate(-200px, 200px);
}

.six:hover p {
    transform: translate(0, 0);
    transition-delay: 0.4s;
}

.hash1 {
    text-decoration: none;
    background-color: black;
    color: white;
    width: 100px;
    padding: 15px;
    margin-bottom: 20px;
    align-self: center;
    transition: all 0.25s;
    transform: translateY(100px);
}

.six:hover .hash1 {
    transform: translateY(0);
    transition-delay: 0.5s;
}

.seven {
    width: 450px;
    height: 300px;
    position: relative;
    overflow: hidden;
}

.seven .tapeImg {
    width: 100%;
}

.seven:before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: '';
    background-color: #006266;
}

.captionSeven {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    text-transform: uppercase;
}

h2 {
    text-align: center;
    font-size: 17px;
    padding: 20px;
    margin-top: 20px;
    background: rgba(0, 0, 0, 0.8);
}

p {
    font-size: 16px;
    width: 80%;
    align-self: center;
    text-align: center;
}

.seven {
    text-decoration: none;
    background: #000;
    color: #fff;
    width: 100px;
    padding: 15px;
    margin-bottom: 20px;
    align-self: center;
}

/* OUR EFFECT STYLES GOES HERE */
.seven:before {
    opacity: 0;
    transition: all 0.3s;
}

.seven:hover:before {
    opacity: 1;
}

h2,
p {
    transform: scale(10);
    opacity: 0;
    transition: all 0.3s;
}

.seven:hover h2,
.seven:hover p {
    opacity: 1;
    transform: scale(1);
    transition-delay: 0.2s;
}

.seven {
    transform: translateY(150px);
    transition: all 0.3s;
}

.seven:hover .hash2 {
    transform: translateY(0);
    transition-delay: 0.2s;
}
