.h1OthersOne {
    margin: 0;
    padding: 0;
    font-family: verdana;
    font-size: 120px;
    color: #ccc;
    text-transform: uppercase;
    position: relative;
    font-family: sans-serif;
}

.h1OthersOne:before {
    content: 'text';
    position: absolute;
    top: 0;
    left: 0;
    color: #262626;
    width: 0%;
    overflow: hidden;
    transition: all 0.5s;
}

.h1OthersOne:hover:before {
    width: 100%;
}

/*-------------------------------------*/

.containerTwo {
    text-align: center;
    display: flex;
}
.iconTwo {
    width: 90px;
    height: 90px;
    background: #f1f1f1;
    margin: 10px;
    border-radius: 30%;
    color: #10ac84;
    box-shadow: 0 5px 15px -5px #00000070;
    position: relative;
    overflow: hidden;
}
.iconTwo i {
    line-height: 90px;
    font-size: 25px;
    transition: 0.2s;
}
.iconTwo:hover i {
    transform: scale(1.3);
    color: #f1f1f1;
}
.iconTwo::before {
    content: '';
    position: absolute;
    width: 120%;
    height: 120%;
    background: #10ac84;
    left: -110%;
    top: 90%;
    transform: rotate(45deg);
}
.iconTwo:hover::before {
    animation: animation 0.7s 1 forwards;
}
@keyframes animation {
    0% {
        left: -110%;
        top: 90%;
    }
    50% {
        left: 15%;
        top: -30%;
    }
    100% {
        top: -10%;
        left: -10%;
    }
}
