* {
    margin: 0 auto;
    margin-bottom: 2rem;
    align-items: center;
}
body {
    display: flex;
    flex-direction: column;

    display: flex;
    align-items: top;
}

.hover {
    text-decoration: none;
    color: #262626;
    font-family: sans-serif;
    font-size: 45px;
    border: 5px solid #262626;
    padding: 40px 80px;
    position: relative;
    overflow: hidden;
}

.hover:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff200;
    height: 100%;
    width: 100%;
    z-index: -1;
    transform-origin: bottom left;
    transform: rotate(-90deg);
    transition: transform 1s;
}

.hover:hover:before {
    transform: rotate(0deg);
}

/*----*/

.swipe {
    text-decoration: none;
    color: #351435;
    font-family: sans-serif;
    font-size: 40px;
    border: 3px solid #351435;
    padding: 40px 80px;
    position: relative;
    transition: all 1s;
    overflow: hidden;
}

.swipe:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #351435;
    z-index: -1;
    transform: translateX(-100%);
    transition: all 1s;
}

.swipe:hover:before {
    transform: translateX(0);
}

.swipe:hover {
    color: white;
}

.hovertwo {
    padding: 40px 80px;
    font-family: sans-serif;
    text-decoration: none;
    color: #262626;
    font-size: 45px;
    letter-spacing: 2px;
    border: 5px solid #262626;
    position: relative;
    transition: 1s;
}

.hovertwo:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #262626;
    transition: 1s;
    transform: rotateX(90deg);
    z-index: -1;
}

.hovertwo:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #262626;
    transition: 1s;
    transform: rotateY(90deg);
    z-index: -1;
}

.hovertwo:hover:before {
    transform: rotateX(0);
}

.hovertwo:hover:after {
    transform: rotateY(0);
}

.hovertwo:hover {
    color: white;
}

.hoverstretch {
    text-decoration: none;
    padding: 40px 80px;
    color: #e1332d;
    border: 3px solid #e1332d;
    text-transform: uppercase;
    font-size: 40px;
    font-family: 'roboto';
    font-weight: 300;
    letter-spacing: -2px;
    transition: all 0.5s;
}

.hoverstretch:hover {
    font-weight: 900;
    letter-spacing: 10px;
    border: 7px solid #e1332d;
}

.hoverthree {
    text-decoration: none;
    color: #262626;
    font-family: sans-serif;
    font-size: 45px;
    border: 5px solid #262626;
    padding: 40px 80px;
    position: relative;
    overflow: hidden;
}

.hoverthree:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff200;
    height: 100%;
    width: 100%;
    z-index: -1;
    transform-origin: bottom left;
    transform: rotate(-90deg);
    transition: transform 1s;
}

.hoverthree:before {
    content: 'YEAH!';
    color: white;
    background-color: #f44336;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transform: translateY(-100%);
    transition: all 0.5s;
}

.hoverthree:hover:before {
    transform: translateY(0);
}

.hoverGlow {
    text-decoration: none;
    color: Black;
    font-family: sans-serif;
    font-size: 40px;
    border: 3px solid black;
    padding: 40px 80px;
    transition: all 0.2s;
    position: relative;
    overflow: hidden;
}

.hoverGlow:hover {
    background-color: #f44336;
}

.hoverGlow:before {
    content: '';
    background-color: white;
    top: 30%;
    left: 0;
    width: 100%;
    height: 50px;
    position: absolute;
    transform: translateX(-100%) rotate(45deg);
    transition: all 0.3s;
}

.hoverGlow:hover:before {
    transform: translateX(100%) rotate(45deg);
}

.hovertranslate {
    text-decoration: none;
    background-color: #262626;
    font-family: sans-serif;
    font-size: 40px;
    border: 4px solid #262626;
    padding: 40px 80px;
    position: relative;
    color: transparent;
    overflow: hidden;
}

.hovertranslate:before {
    content: 'Hover Me';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fffa65;
    color: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.hovertranslate:after {
    content: 'Hover Me';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fffa65;
    color: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    transform: translate(-100%, 100%);
}

.hovertranslate:hover:before {
    transform: translate(100%, -100%);
}

.hovertranslate:hover:after {
    transform: translate(0, 0);
}

.hoverOverlay {
    text-decoration: none;
    color: #262626;
    font-family: sans-serif;
    font-size: 40px;
    border: 3px solid #262626;
    padding: 40px 80px;
    transition: all 0.5s;
    position: relative;
    overflow: hidden;
}

.hoverOverlay:before {
    content: 'Hover me';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #262626;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(5);
    opacity: 0;
    transition: all 0.5s;
}

.hoverOverlay:hover:before {
    transform: scale(1);
    opacity: 1;
}

.circBtn {
    border: 2px solid tomato;
    background: none;
    color: tomato;
    padding: 20px 40px;
    font-size: 25px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.5s;
    position: relative;
    color: tomato;
    overflow: hidden;
}

.circBtn:hover {
    color: white;
}

.circBtn:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: tomato;
    z-index: -1;
    border-radius: 0% 0% 50% 50%;
    height: 0%;
    transition: all 0.5s;
}

.circBtn:hover:before {
    height: 190%;
}

.flipper {
    padding: 20px 40px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #f1c40f;
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
    position: relative;
}

.flipper:before {
    content: 'BUTTON';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2ecc71;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateX(270deg);
    transform-origin: top;
    transition: all 0.5s;
}

.flipper:after {
    content: 'BUTTON';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: top;
    transform: rotateX(270deg);
    transition: all 0.5s;
    transition-delay: 0.25s;
}

.flipper:hover:before,
.flipper:hover:after {
    transform: rotateX(0deg);
}

.transBtn {
    padding: 20px 40px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 4px;
    color: black;
    border: 3px solid #ff0;
    font-size: 30px;
    position: relative;
}

.transBtn:before {
    content: 'button';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #363636;
    color: #ff0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.transBtn:hover:before {
    left: 100%;
    transform: scale(0) rotateY(360deg);
    opacity: 0;
}

.transBtn:after {
    content: 'button';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #363636;
    color: #ff0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    transform: scale(0) rotateY(0deg);
    opacity: 0;
}

.transBtn:hover:after {
    left: 0;
    transform: scale(1) rotateY(360deg);
    opacity: 1;
}

.threeCircle {
    width: 220px;
    height: 80px;
    color: orange;
    background-color: transparent;
    font-size: 26px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    line-height: 80px;
    transition: all 0.5s;
    position: relative;
}

.threeCircle:before,
.threeCircle:after {
    content: '';
    position: absolute;
    top: 50%;
    width: 20px;
    height: 20px;
    background-color: #ff0;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: all 0.3s;
    z-index: -1;
    opacity: 0;
}

.threeCircle:before {
    left: 0;
    box-shadow: -100px 0 0 #ff0;
}

.threeCircle:after {
    right: 0;
    box-shadow: 100px 0 0 #ff0;
}

.threeCircle:hover:before {
    left: 50%;
    box-shadow: 30px 0 0 #ff0;
    transform: translateX(-50%) translateY(-50%);
    opacity: 1;
}

.threeCircle:hover:after {
    right: 50%;
    box-shadow: -30px 0 0 #ff0;
    transform: translateX(50%) translateY(-50%);
    opacity: 1;
}

.firstspan {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ff0;
    color: red;
    border-radius: 8px;
    transform: scale(0);
    transition: all 0.3s;
    z-index: 1;
}

.threeCircle:hover span {
    transform: scale(1);
    transition-delay: 0.4s;
}

.threeCircle:hover {
    color: #262626;
    transition-delay: 0.4s;
}

.hoverfour {
    width: 300px;
    height: 60px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: transparent;
    text-align: center;
    line-height: 60px;
    font-weight: bold;
    letter-spacing: 2px;
    position: relative;
    transition: all 0.2s;
    color: white;
}
.hoverfour:before {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    background-color: #20caff;
    z-index: -1;
    mix-blend-mode: multiply;
    transition: all 0.2s;
    transform-origin: top;
}

.hoverfour:hover:before {
    top: -6px;
    left: 0;
    transform: perspective(1000px) rotateX(75deg);
}

.hoverfour:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 100%;
    height: 100%;
    background-color: #ff7675;
    z-index: -1;
    mix-blend-mode: multiply;
    transition: all 0.2s;
    transform-origin: bottom;
}

.hoverfour:hover:after {
    top: 6px;
    left: 0;
    transform: perspective(1000px) rotateX(-75deg);
}

.hoverfour:hover {
    color: #272727;
}

.slideBtn {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
    font-family: verdana;
    color: #f6b93b;
    letter-spacing: 3px;
    padding: 25px 50px;
    position: relative;
    border: 3px solid #f6b93b;
    transition: all 0.2s;
    overflow: hidden;
}

.slideBtn:before,
.slideBtn:after,
.spann:before,
.spann:after {
    content: '';
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: #f6b93b;
    z-index: -1;
    transition: all 0.1s;
}

.slideBtn:before {
    top: 100%;
    left: 0%;
}

.slideBtn:hover:before {
    top: 0;
    left: 0;
}

.slideBtn:after {
    top: -100%;
    right: 0;
    transition-delay: 0.3s;
}

.slideBtn:hover:after {
    top: 0;
    right: 0;
}

.slideBtn .spann:before {
    top: -100%;
    left: 25%;
    transition-delay: 0.1s;
}

.slideBtn:hover .spann:before {
    top: 0;
    left: 25%;
}

.slideBtn .spann:after {
    bottom: -100%;
    right: 25%;
    transition-delay: 0.2s;
}

.slideBtn:hover .spann:after {
    bottom: 0;
    right: 25%;
}

.slideBtn:hover {
    color: #222;
}
