* {
    margin: 0 auto;
    margin-bottom: 2rem;
    align-items: center;
}
body {
    display: flex;
    flex-direction: column;

    height: 100vh;
    display: flex;
    align-items: top;
}

.hover {
    text-decoration: none;
    color: #262626;
    font-family: sans-serif;
    font-size: 45px;
    border: 5px solid #262626;
    padding: 40px 80px;
    position: relative;
    overflow: hidden;
}

.hover:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff200;
    height: 100%;
    width: 100%;
    z-index: -1;
    transform-origin: bottom left;
    transform: rotate(-90deg);
    transition: transform 1s;
}

.hover:hover:before {
    transform: rotate(0deg);
}

/*----*/

.swipe {
    text-decoration: none;
    color: #351435;
    font-family: sans-serif;
    font-size: 40px;
    border: 3px solid #351435;
    padding: 40px 80px;
    position: relative;
    transition: all 1s;
    overflow: hidden;
}

.swipe:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #351435;
    z-index: -1;
    transform: translateX(-100%);
    transition: all 1s;
}

.swipe:hover:before {
    transform: translateX(0);
}

.swipe:hover {
    color: white;
}

.hovertwo {
    padding: 40px 80px;
    font-family: sans-serif;
    text-decoration: none;
    color: #262626;
    font-size: 45px;
    letter-spacing: 2px;
    border: 5px solid #262626;
    position: relative;
    transition: 1s;
}

.hovertwo:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #262626;
    transition: 1s;
    transform: rotateX(90deg);
    z-index: -1;
}

.hovertwo:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #262626;
    transition: 1s;
    transform: rotateY(90deg);
    z-index: -1;
}

.hovertwo:hover:before {
    transform: rotateX(0);
}

.hovertwo:hover:after {
    transform: rotateY(0);
}

.hovertwo:hover {
    color: white;
}

.hoverstretch {
    text-decoration: none;
    padding: 40px 80px;
    color: #e1332d;
    border: 3px solid #e1332d;
    text-transform: uppercase;
    font-size: 40px;
    font-family: 'roboto';
    font-weight: 300;
    letter-spacing: -2px;
    transition: all 0.5s;
}

.hoverstretch:hover {
    font-weight: 900;
    letter-spacing: 10px;
    border: 7px solid #e1332d;
}
